    <!-- Pembuka -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="kantor wow bounceInUp" data-wow-duration="1.4s">
            <div class="agus3"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="kilasan wow fadeInUp" data-wow-duration="1.4s">
            <span class="sub1">AGZ.DZ</span> Kami juga memberikan jasa pembuatan
            website dan aplikasi berbasis web lainnya dari skala kecil hingga
            menengah. semua dikerjakan oleh tenaga yang ahli di bidangnya.
            Sangat cocok bagi anda yang ingin merintis usaha online atau
            membangun sebuat platform sederhana berbasis web. pengerjaan web
            sebagain besar menggunakan framework framework yang mendukung sesuai
            dengan kesepakatan dengan anda.
          </div>
        </div>
      </div>
    </div>
    <!-- Akhir Pembuka -->